version: '3'
services:
  app:
    build:
      context: .
      args:
        user: samagri
        uid: 1000
    image: samagri-app
    container_name: samagri-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - samagri
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: samagri-nginx
    restart: unless-stopped
    ports:
      - "8007:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - samagri
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: samagri-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - samagri

networks:
  samagri:
    driver: bridge

volumes:
  dbdata:
    driver: local
